<section>
  <h2>Your documents dashboard</h2>
  <p>This is where your documents are stored. Documents shown here can be for yourself, your whānau, or others. <strong>These are not proof of identity</strong> but are a legal representation of the data of your ID which is held within the New Zealand government.</p>
  <%= render 'modal_form' %>
  <% if @birth_records.any? %>
    <div class="index-cards">
      <% @birth_records.each do |record| %>
        <%= render partial: 'shared/documents/preview', locals: {
          document: record,
          actions: [
            link_to('View', user_birth_record_path(record), class: 'btn btn-secondary'),
            render('user/shares/modal_form', record: record, classes: 'btn btn-primary')
            ]
          }
        %>
      <% end %>
    </div>
  <% else %>
    <p class="text-muted font-italic">There are currently no birth records for <%= current_user.email %>.</p>
  <% end %>
</section>
