<%= render partial: 'shared/birth_records/short_details', object: @birth_record %>
<div class="navbar navbar-expand flex-row">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= link_to 'Back', user_birth_records_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Share', new_user_share_path(share: { birth_record_id: @birth_record.to_param }), class: 'nav-link' %>
    </li>
  </ul>
</div>

