<div>
  <h1>List of organisations<</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Contact No.</th>
      </tr>
    </thead>
    <tbody>
      <% @organisations.each do |organisation| %>
        <tr>
          <td><%= organisation.name %></td>
          <td><%= organisation.address %></td>
          <td><%= organisation.email %></td>
          <td><%= organisation.contact_number %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>