<div class="immunisation-record__details">
  <dl>
    <dt>Full name</dt>
    <dd><%= immunisation_record.full_name %></dd>
    <dt>Date of birth</dt>
    <dd><%= immunisation_record.date_of_birth %></dd>
    <dt>NHI number</dt>
    <dd><%= immunisation_record.nhi %></dd>
    <dt>Data</dt>
    <dd><%= immunisation_record.data %></dd>
  </dl>
</div>
