<footer class="navbar navbar-expand navbar-light bg-light flex-row mt-auto">
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
  <%= image_tag "feijoa_icon.png", alt: "footer logo", class: 'rounded' %>
</footer>