<footer class="footer">
  <div class="footer__navigation--container">
    <div class="footer__navigation--links">
      <%= link_to "Home", root_path, class: "footer__navigation--link"%>
      <div class="footer__navigation--logo-container">
        <%= image_tag "feijoa_icon.png", class:"footer__navigation--logo", alt: "footer logo" %>
      </div>
    </div>
  </div>
</footer>