<span class='d-inline-flex'>
  <span class='badge badge--account-type'>
    <%= _account_badge_letter %>
  </span>
  <%= link_to 'Log out', _logout_path, method: :delete, class: 'nav-link' %>
</span>
