<div class="card share" data-id="<%= record.to_param %>" %>">
  <div class="card-body">
    <h4 class="card-title">
      <%= link_to user_share_path(card) do %>
        <%= card.recipient %>
      <% end %>
    </h4>
    <%= render partial: 'shared/shares/summary', object: card %>
  </div>
</div>