<%#
# Flash Partial

This partial renders flash messages on every page.

The value is treated as raw string content, and will not be escaped
before rendering. It could include html or javascript content which
will be rendered faithfully.

## Relevant Helpers:

- `flash`:
  Returns a hash,
  where the keys are the type of flash (alert, error, notice, etc)
  and the values are the message to be displayed.
%>

<% if flash.any? %>
  <div class="flashes">
    <% flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>"><%= raw value %></div>
    <% end -%>
  </div>
<% end %>
