<div class="birth-record__short-details">
  <dl>
    <dt>First And Middle Names</dt>
    <dd><%= short_details.first_and_middle_names %></dd>
    <dt>Family Name</dt>
    <dd><%= short_details.family_name %></dd>
    <dt>Date of birth</dt>
    <dt><%=short_details.date_of_birth %></dt>
  </dl>
</div>