<div class="record__birth-record--short-details">
  <dl>
    <dt class="attribute-label" id="first_and_middle_names">
      First And Middle Names
    </dt>

    <dd class="attribute-data attribute-data--string">
      <%= short_details.first_and_middle_names %>
    </dd>
    <dt class="attribute-label" id="family_name">
      Family Name
    </dt>

    <dd class="attribute-data attribute-data--string">
      <%= short_details.family_name %>
    </dd>
    <dt class="attribute-label" id="place_of_birth">
      Place Of Birth
    </dt>

    <dd class="attribute-data attribute-data--string">
      <%= short_details.place_of_birth %>
    </dd>
  </dl>
</div>