<% if @requests.any? %>
  <h2>New share requests</h2>
  <% @requests.each do |request| %>
    <div class="mb-4">
      <%= render partial: 'user/requests/request', locals: { request: request } %>
    </div>
  <% end %>
<% end %>
<h1 class="pt-3 pb-2">Your documents dashboard</h2>
<h3>This is where your documents are stored. Documents shown here can be for yourself, your whānau, or others. <strong>These are not proof of identity</strong> but are a legal representation of the data of your ID which is held within the New Zealand government.</h3>
<%= render 'user/birth_records/modal_form' %>
<% if @documents.any? %>
  <section>
    <div class="index-cards">
      <% @documents.each do |document| %>
        <%= render partial: 'shared/documents/preview', locals: {
          document: document,
          actions: [
            link_to('View', user_document_path(document.document_type, document.id), class: 'btn btn-secondary view-btn'),
            render('user/shares/modal_form', document: document, classes: 'btn btn-primary share-btn')
          ]
        } %>
      <% end %>
    </div>
  </section>
<% end %>
