<h1 class="pt-3 pb-2">Your documents dashboard</h1>
<h3>This is where your documents are stored. Documents shown here can be for yourself, your whānau, or others. <strong>These are not proof of identity</strong> but are a legal representation of the data of your ID which is held within the New Zealand government.</h3>

<div class="row border-bottom">
  <div class="col-10">
    <% if @requests.any? %>
      <h2 class="pt-4">New share requests</h2>
        <section>
          <div class="index-cards">
            <% @requests.each do |request| %>
              <div class="mb-4">
                <%= render partial: 'user/requests/request', locals: { request: request } %>
              </div>
            <% end %>
            </div>
        </section>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col">
    <a href="#" id="add-record" data-toggle="modal" data-target="#modalDocumentSelect" class="pr-2">
      <h2 class="mt-3">
        <%= image_tag("plus.svg", alt: 'Add a new document', class: 'add-doc') %>
        Add a document
      </h2>
    </a>
  </div>
  <%= render 'user/documents/selection_modal' %>
</div>

<% if @documents.any? %>
  <section>
    <div class="index-cards">
      <% @documents.each do |document| %>
        <%= render partial: 'shared/documents/preview', locals: {
          document: document,
          actions: [
            link_to('View', user_document_path(document.document_type, document.id), class: 'btn btn-secondary shifted-right-btn'),
            render('user/shares/modal_form', document: document, classes: 'btn btn-primary shifted-left-btn')
          ]
        } %>
      <% end %>
    </div>
  </section>
<% end %>
