<section>
  <h2>Here are the activity records for your Feijoa account</h2>
  <p>This shows when you have searched for and shared documents, and also when your documents have been viewed by people you shared them with.</p>

  <% if @audits.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Type</th>
          <th>User</th>
          <th>Time</th>
          <th>Action</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <%= render @audits.order(created_at: :desc) %>
      </tbody>
    </table>
  <% else %>
    <p class="text-muted font-italic">There are currently no events recorded for <%= current_user.email %>.</p>
  <% end %>
</section>
