<h1>USER</h1>
<%= current_user.email %>

<section>
  <div>
    <%= link_to( 
      "View associated birth records (#{current_user.birth_records.count})",
      user_birth_records_path, class: 'nav-link'
      ) %>
  </div>
  <div>
    <%= link_to(
      "View shared birth records (#{current_user.shares.count})",
      user_shares_path, 
      class: 'nav-link') %>
  </div>
</section>