body, html {
  height: 100%;
}

.devise__registrations--new,
.devise__registrations--create,
.devise-invitable__registrations--new,
.organisation-user__sessions--new,
.organisation-user__sessions--create,
.home--index,
.devise__sessions--new,
.devise__sessions--create {
  background-color: $grey;
  form {
    background-color: $white;
    padding: 1em;
  }
}

.user__birth-records--show,
.organisation-member__requests--show,
.organisation-member__shares--show,
.user__requests--show,
.user__documents--show {
  background-image: linear-gradient(to bottom, $grey 0%, $grey 47%, #ffffff 47%, #ffffff 100%);
  background-repeat: no-repeat;
}

.alert-dismissible .close {
  position: relative;
  padding: 0 .5rem 0 0;
}

h1 {
  font-weight: bold;
  font-size: 2.25rem;
  color: $navy;
}

h2 {
  font-size: 1.75rem;
  color: $navy;
}

h3 {
  font-size: 1rem;
  color: $navy;
  line-height: 1.5rem;
}

h4 {
  font-weight: bold;
  font-size: 1rem;
  color: $navy;
}

h5 {
  font-size: .75rem;
  color: $navy;
  margin-bottom: 0;
}

dt {
  padding-top: .5rem;
  font-size: .75rem;
  color: $navy;
}

dd {
  font-size: .75rem;
  color: $navy;
}

.add-doc {
  width: 2.5rem;
  height: 2.5rem;
}
