body, html {
  height: 100%;
}

.devise__registrations--new,
.devise__registrations--create,
.admin-user__sessions--new,
.organisation-user__sessions--new,
.organisation-user__sessions--create,
.home--index,
.user__sessions--new,
.user__sessions--create {
  background-color: $grey;
  form {
    background-color: $white;
    padding: 1em;
  }
}

.user__birth-records--show {
  background-image: linear-gradient(to bottom, $grey 0%, $grey 47%, #ffffff 47%, #ffffff 100%);
}
