body,
html {
  height: 100%;
}

.devise__registrations--new,
.devise__registrations--create,
.organisation-user__sessions--new,
.organisation-user__sessions--create,
.home--index,
.devise__sessions--new,
.devise__sessions--create {
  background-color: $grey;
  form {
    background-color: $white;
    padding: 1em;
  }
}

.user__birth-records--show,
.organisation-member__requests--show,
.organisation-member__shares--show,
.user__requests--show {
  background-image: linear-gradient(
    to bottom,
    $grey 0%,
    $grey 47%,
    #ffffff 47%,
    #ffffff 100%
  );
  background-repeat: no-repeat;
}
