/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "variables";
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "bootstrap_overrides";
@import "card";

@import "autocomplete";
@import "body";

.index-cards {
  display: flex;
  flex: none;
  flex-wrap: wrap;
  .card {
    width: 245px;
    margin: 1em;
  }
}

.card-row {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 25px;
  grid-row-gap: 5px;
}

@include media-breakpoint-down(sm) {
  .index-cards {
    .card {
      width: 100%;
      margin: 0.5em;
    }
  }
}

.navbar-skinny {
  min-height: 2.5em;
}

.add-doc {
  width: 1.5em;
  height: 1.5em;
  padding-right: 0.5rem;
  display: inline-block;
}

.btn-secondary {
  color: $white;
}

.shifted-right-btn {
  margin-left: 0.75rem;
}

.shifted-left-btn {
  margin-right: 0.75rem;
}

.single-view-btn {
  margin-top: 1rem;
  position: relative;
}
