<nav class="navbar navbar-expand navbar-light bg-primary flex-row navbar-skinny">
  <div class="container">
    <%= link_to organisation_member_dashboard_path, class: 'font-weight-bold text-white navbar-brand' do %>
      <%= @organisation.name %>
    <% end %>
  </div>
</nav>
