<ul class="navbar-nav border border-primary mx-1">
  <span class='badge badge--account-type'>
    <%= 'A' %>
  </span>
  <% if current_admin_user.present? %>
    <li class="nav-item">
      <%= link_to 'Administrate', admin_root_path, class: 'nav-link'  %>
    </li>
    <li class="nav-item">
      <%= render partial: 'shared/logout', locals: { _logout_path: destroy_admin_user_session_path } %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to 'Sign in', new_admin_user_session_path, class: 'btn btn-outline-success' %>
    </li>
  <% end %>
</ul>