<table class="table table-striped table-responsive">
  <thead>
    <th>Immunisation type</th>
    <th>Date</th>
    <th>Notes</th>
  </thead>
  <tbody>
    <% fhir_data(immunisation_record).each do |datapoint| %>
      <%= render partial: 'shared/immunisation_records/fhir_datapoint',
      locals: { immunisation_record: immunisation_record, datapoint: datapoint }
      %>
    <% end %>
  </tbody>
</table>
